.page-footer {
  background-color: $gray;
}

.page-footer__inner {
  padding: 0 30px;
  font-size: 19px;
  font-weight: bold;
  line-height: 18px;
}


.page-footer__block {
  text-align: center;

  padding: 30px 0;
}

.page-footer__block:last-of-type {
  border-top: 1px solid #e6e6e6;
  padding: 22px 0;
}

.page-footer__link-logo-html {
  color: $black;
  text-decoration: none;
}

.page-footer__link-logo-html svg {
  fill: $main-color;
}

.page-footer__link-logo-html:hover svg {
  fill: $main-color-light;
}

.page-footer__link-logo-html:active {
  opacity: 0.3;
}
